{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'story9/home.css' %}">
</head>
<body>
	<header>
		<div class="logo">
			<img src="{% static 'story9/images/logo.png' %}">
		</div>
		<div class="links">
			{% if log %}
			<a href="{% url 'story9:userLogout' %}">Logout</a>
			{% else %}
			<a href="{% url 'story9:userLogin' %}">Login</a>
			{% endif %}
		</div>

	</header>
	<section class="main">
		{% if log %}
		<h1>Hello, {{ name }}.</h1>
		<p>Mau mendengarkan lagu apa hari ini?</p>
		{% endif %}


		<div class="songs">
			<div class="card"><a href="https://www.youtube.com/watch?v=_8G4oaOxyxk"><p>Troye Sivan - Wild</p></a></div>
			<div class="card"><a href="https://www.youtube.com/watch?v=8PTDv_szmL0"><p>Bruno Mars - Nothin' On You</p></a></div>
			{% if log %}
				<div class="card log"><a href="https://www.youtube.com/watch?v=Jtauh8GcxBY"><p>Lewis Capaldi - Before You Go</p></a></div>
				<div class="card log"><a href="https://www.youtube.com/watch?v=oljXXw0wgmg"><p>Alessia Cara - Out of Love</p></a></div>
			{% else %}
				<p class="pLog"><a href="{% url 'story9:userLogin' %}">Login</a> untuk melihat lebih banyak lagu</p>
			{% endif %}
		</div>
	</section>
	
</body>
</html>