{% load static %}
<!DOCTYPE html>
<html>
<head>
	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title>Register Page</title>
	<link rel="stylesheet" type="text/css" href="{% static 'story9/login.css' %}">
</head>
<body>

	<section class="main">
		<div class="row">
			<div class="col col-10 offset-1 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
				<div class="card">
					<div class="forms">
						<h1>Buat Akun Baru</h1>
						<form method="POST">
							{% csrf_token %}
							{{ form.username }}
							{{ form.email }}
							{{ form.password }}
							<div class="button"><button type="submit">Register</button></div>
						</form>
						{% if messages %}
					        {% for message in messages %}
					        	<p style="margin-top: 10px;">{{ message }}</p>
					        {% endfor %}
					    {% endif %}
					</div>
					<div class="regist">
				    	<p>Sudah punya akun? <a href="{% url 'story9:userLogin' %}">Login</a> sekarang.</p>
				    </div>
				</div>
			</div>
		</div>
	</section>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>