:root {
  --fredoka: 'Fredoka One', cursive;
  --roboto: 'Roboto', sans-serif;
  --soft-background: #f9f4ed;
  --almost-red: #c7423f;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--soft-background);
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 50px;
	width: 100%;
	box-sizing: border-box;
}

.logo img {
	width: 50px;
	height: 50px;
}

.main {
	padding: 50px;
	box-sizing: border-box;
	text-align: center;
}

.main h1 {
	margin-bottom: 10px;
}

.songs {
	margin-top: 50px;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.card {
	margin-bottom: 20px;
	width: 450px;
	height: 130px;
	border: 1px solid var(--almost-red);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	box-shadow: 2px 2px grey;
	font-family: var(--roboto);
}

.card p {
	
	font-size: 25px;
	color: black;
}

.card a {
	text-decoration: none;
}

.pLog {
	margin-top: 50px;
	width: 100%;
	font-size: 20px;
}
