:root {
  --fredoka: 'Fredoka One', cursive;
  --roboto: 'Roboto', sans-serif;
  --soft-background: #f9f4ed;
  --almost-red: #c7423f;
}

* {
	margin: 0;
	padding: 0;
}

.row {
	margin: 0;
	width: 100%;
}
.main {
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: var(--soft-background);
}

.forms {
	width: 100%;
	padding: 0px 50px;
	text-align: center;
}

.forms h1 {
	font-family: var(--fredoka);
	margin-bottom: 20px;
}

.card {
	box-sizing: border-box;
	width: 100%;
	height: 70vh;
	color: white;
	border-radius: 10px;
	background-color: var(--almost-red);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	font-family: var(--roboto);
}

.card input {
	border: none;
	background-color: transparent;
	color: white;
	padding: 20px;
	width: 80%;
	box-sizing: border-box;
	border-bottom: 1px solid var(--soft-background);
	text-align: center;
	font-size: 15px;
}



::placeholder {
	color: white;
	text-align: center;
}
.button {
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;

}
.button button {
	background-color: var(--soft-background);
	padding: 10px 40px;
	width: 60%;
	border: none;
	border-radius: 10px;
	font-family: var(--roboto);
	font-weight: bolder;
	font-size: 15px;
	box-sizing: border-box;
	cursor: pointer;
}

.error {
	margin-top: 10px;
	text-align: center;
	font-family: var(--roboto);
	font-weight: bold;
	font-size: 13px;
}

.regist {
	border-top: 1px solid var(--soft-background);
	font-size: 12px;
	margin-top: 20px;
	width: 100%;
	text-align: center;
	padding-top: 20px;
	box-sizing: border-box;
}

.regist a {
	color: white;
}

@media screen and (max-width: 500px) {
	.forms {
		padding: 0px 20px;
	}

	.button button {
		width: 90%;
	}
}